{% extends 'base.html' %}
{% block section %}
<table>
    <thead>
        <tr>
            <th scope="col">  </th>
            <th scope="col"> Nombre </th>
            <th scope="col"> Especie </th>
            <th scope="col"> Estado </th>
            <th scope="col"> Genero </th>
            <th scope="col"> Origen </th>
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td><img src="{{item.image}}" alt="" width="80px"></td>
            <td>{{item.name}}</td>
            <td>{{item.species}}</td>
            <td>{{item.status}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.origin.name}}</td>
        
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}