{% extends 'base.html' %}
{% block section %}
<table>
    <thead>
        <tr>
            <th scope="col"> Episodio</th>
            <th scope="col"> Nombre </th>
            <th scope="col"> Estreno</th>
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td>{{item.episode}}</td>
            <td>{{item.name}}</td>
            <td>{{item.air_date}}</td>          
        </tr>
    {% endfor %}
    </tbody>
</table>
<form action="" method="post">
    <select name="number" value="8">
        {% for i in range(1, 4) %}
          <option value="{{i}}">{{i}}</option>
        {% endfor%}
    </select>
<button type="submit" name="Button" value="pagina" >Mostrar pagina</button>
</form>
{% endblock %}