{% extends 'base.html' %}
{% block section %}
<form action="" method="post">
    <input type="search" id="search" name="search" placeholder="Buscar">
    <button type="submit" name="Button3" value="submit">Buscar</button>
  
</form >
{% if data != None %} 
{% if mostrar != "no"%}
<table>
    <thead>
        <tr>
            <th scope="col">  </th>
            <th scope="col"> Nombre </th>
            <th scope="col"> Especie </th>
            <th scope="col"> Estado </th>
            <th scope="col"> Genero </th>
            <th scope="col"> Origen </th>
            <th scope="col"> Acciones </th>
        </tr>
    </thead>
    <tbody>
   {% endif %}
    {% for item in data %}
        <tr>
            <td><img src="{{item.image}}" alt="" width="80px"></td>
            <td>{{item.name}}</td>
            <td>{{item.species}}</td>
            <td>{{item.status}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.origin.name}}</td>
            <td><a  href="/characterdetailed{{item.id}}">Detalles</a> </td>
        </tr>
    {% endfor %}
    
    </tbody>
</table>
{% endif %}
{% endblock %}